#header {
    text-align: center;
    margin-bottom: 20px;
}
#header img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

#menu {
    margin: 20px auto; 
    width: 80%; 
    border-collapse: collapse; 
    font-family: Arial, sans-serif; 
}

 Стилі для заголовків таблиці 
#menu th {
    background-color: #f2f2f2; 
    color: #333; 
    font-weight: bold;
    padding: 10px;
    text-align: left; 
    border: 1px solid #ddd; 
}

 Стилі для рядків таблиці 
#menu td {
    padding: 10px;
    border: 1px solid #ddd; 
}

 Стилі для альтернативних рядків таблиці 
#menu tr:nth-child(even) {
    background-color: #f9f9f9; 
}

 Стилі для посилань 
#menu a {
    text-decoration: none; 
    color: #337ab7; 
    font-weight: bold; 
}

 Стилі для посилань при наведенні 
#menu a:hover {
    color: #23527c; 
}}
