#header {
    text-align: center;
    margin-bottom: 20px;
}
#header img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

#menu {
    margin: 20px auto; /* Вирівнюємо таблицю по центру */
    width: 80%; /* Задаємо ширину таблиці */
    border-collapse: collapse; /* Згортання меж таблиці */
    font-family: Arial, sans-serif; /* Задаємо шрифт тексту таблиці */
}

/* Стилі для заголовків таблиці */
#menu th {
    background-color: #f2f2f2; /* Колір фону заголовків */
    color: #333; /* Колір тексту заголовків */
    font-weight: bold; /* Жирний шрифт для заголовків */
    padding: 10px; /* Відступи від тексту до меж заголовків */
    text-align: left; /* Вирівнюємо текст по лівому краю */
    border: 1px solid #ddd; /* Межі заголовків */
}

/* Стилі для рядків таблиці */
#menu td {
    padding: 10px; /* Відступи від тексту до меж рядків */
    border: 1px solid #ddd; /* Межі рядків */
}

/* Стилі для альтернативних рядків таблиці (парні) */
#menu tr:nth-child(even) {
    background-color: #f9f9f9; /* Колір фону альтернативних рядків */
}

/* Стилі для посилань */
#menu a {
    text-decoration: none; /* Вимикаємо підкреслення для посилань */
    color: #337ab7; /* Колір посилань */
    font-weight: bold; /* Жирний шрифт для посилань */
}

/* Стилі для посилань при наведенні */
#menu a:hover {
    color: #23527c; /* Зміна коліру при наведенні курсора */
}}