{% extends "index.html" %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

{% block content %}
    <div id="menu">
        <h1>Меню</h1>
        {% if menu %}
    <table>
        <thead>
            <tr>
                <th>Назва піци</th>
                <th>Опис інградієнтів</th>
                <th>Ціна піци</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in menu %}
            <tr>
                <td>{{ dish['назва'] }}</td>
                <td>{{ dish['опис'] }}</td>
                <td>{{ dish['ціна'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% endif %}
    </div>
{% endblock %}


