{% extends 'base.html' %}
<head>
    <link rel="stylesheet" type="text/css" href="/static2/style.css">
</head>

{% block content %}
    <div id="pizzas">
        <h1>Меню</h1>
        {% if pizzas %}
    <table style="text-align:center">
        <thead>
            <tr>
                <th>Назва піци</th>
                <th>Опис інградієнтів</th>
                <th>Ціна піци</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza.name }}</td>
                <td>{{ pizza.description }}</td>
                <td>{{ pizza.prize }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% endif %}
    </div>

{% endblock %}